.todo-form button {
    color: rgb(132, 138, 143);
    border: none;
    border-radius: 3px;
    width: full;
    background-color: beige;  
}
.todo-form{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}